:root {
  --black-background: #121212;
  --white-color: #ffffff;
}

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #3f3f3f;
}

::-webkit-scrollbar-thumb {
  background: #5f5f5f;
}

::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;
}

body {
  background-color: var(--black-background);
  color: var(--white-color);
}

.show {
  display: block;
}

.show-flex {
  display: flex;
}

.hide {
  display: none;
}

.container {
  padding: 40px 20px;
  width: 1400px;
  margin: auto;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 1100px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 800px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 550px;
  }
}
